{% extends 'user_templates/expage.html' %}


{% block title %} CSK | INFO {% endblock %}

{% block bodytext %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
</head>

<body>
    <div class="container">

        <div class="info_note">
            <p>1 . Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, quibusdam!</p>
        </div>
        <div class="info_note">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias omnis soluta doloremque nulla nihil
                porro enim. Nemo, quis. Ab tenetur amet magni ducimus minima facere quia dignissimos ipsum molestias
                veritatis.</p>
        </div>
        <div class="info_note">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquid eius natus possimus cum illo
                aperiam tempora dolorem rem temporibus assumenda voluptatem sunt obcaecati vero incidunt nobis,
                laboriosam beatae, impedit animi molestiae sit! Fugiat, cupiditate vel praesentium natus blanditiis
                ullam voluptatum assumenda neque quis. Reiciendis blanditiis minima quidem. Corrupti porro neque saepe,
                libero sed voluptates itaque harum nobis non omnis unde, quidem suscipit ipsa molestiae dolores
                obcaecati at aperiam incidunt nisi, ipsum temporibus tenetur? Nam tempora saepe possimus dolor quaerat.
            </p>
        </div>
        <div class="info_note">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo enim, dicta impedit magnam nemo
                cupiditate doloribus deserunt facere odit. Obcaecati!</p>
        </div>
        <div class="info_note">
            <p>1 . Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, quibusdam!</p>
        </div>
        <div class="info_note">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias omnis soluta doloremque nulla nihil
                porro enim. Nemo, quis. Ab tenetur amet magni ducimus minima facere quia dignissimos ipsum molestias
                veritatis.</p>
        </div>
        <div class="info_note">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquid eius natus possimus cum illo
                aperiam tempora dolorem rem temporibus assumenda voluptatem sunt obcaecati vero incidunt nobis,
                laboriosam beatae, impedit animi molestiae sit! Fugiat, cupiditate vel praesentium natus blanditiis
                ullam voluptatum assumenda neque quis. Reiciendis blanditiis minima quidem. Corrupti porro neque saepe,
                libero sed voluptates itaque harum nobis non omnis unde, quidem suscipit ipsa molestiae dolores
                obcaecati at aperiam incidunt nisi, ipsum temporibus tenetur? Nam tempora saepe possimus dolor quaerat.
            </p>
        </div>
        <div class="info_note">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo enim, dicta impedit magnam nemo
                cupiditate doloribus deserunt facere odit. Obcaecati!</p>
        </div>
        <div class="info_note">
            <p>1 . Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, quibusdam!</p>
        </div>
        <div class="info_note">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias omnis soluta doloremque nulla nihil
                porro enim. Nemo, quis. Ab tenetur amet magni ducimus minima facere quia dignissimos ipsum molestias
                veritatis.</p>
        </div>
        <div class="info_note">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia aliquid eius natus possimus cum illo
                aperiam tempora dolorem rem temporibus assumenda voluptatem sunt obcaecati vero incidunt nobis,
                laboriosam beatae, impedit animi molestiae sit! Fugiat, cupiditate vel praesentium natus blanditiis
                ullam voluptatum assumenda neque quis. Reiciendis blanditiis minima quidem. Corrupti porro neque saepe,
                libero sed voluptates itaque harum nobis non omnis unde, quidem suscipit ipsa molestiae dolores
                obcaecati at aperiam incidunt nisi, ipsum temporibus tenetur? Nam tempora saepe possimus dolor quaerat.
            </p>
        </div>
       


    </div>
</body>

</html>

{% endblock %}

{% block downlinetext %}

    SHOP NOW  | SIGN UP

{% endblock %}
